<% layout('layout/boilerplate')%>
    <h1 class="text-center fw-light mt-4">To-Do-List Tasks</h1>
    <p class="text-center filter"><a href="/tasks" <% if (!priority) { %> class="selected" <% } %> >
                ALL </a> |
        <a href="?priority=low" <% if (priority==='low' ) { %> class="selected" <% } %> >
                LOW </a> |
        <a href="?priority=medium" <% if (priority==='medium' ) { %> class="selected" <% } %> >
                MEDIUM </a> |
        <a href="?priority=high" <% if (priority==='high' ) { %> class="selected" <% } %> >
                HIGH </a>
    </p>

    <div class="container d-flex flex-column justify-content-center align-items-center mt-2 mb-4">
        <% let counter=0; %>
            <% for( let task of tasks ) { %>
                <div class="row mb-3">
                    <a href="/tasks/<%= task._id %>">
                        <div class="card listCardBorder detailCardSize <% if(task.checked){ %>checked-bg
                        <% }%>">
                            <div class="card-body mt-3 mb-3">
                                <form class="checkedForm check<%= task._id %>"
                                    action="/tasks/<%= task._id %>/edit?_method=PUT" method="post" class="d-inline">
                                    <input type="checkbox" name="task[checked]" id="<%= task._id %>" <%
                                        if(task.checked){ %>
                                    checked
                                    <% }%>>
                                        <span class="content">
                                            <span class="taskName">
                                                <%= task.name %>
                                            </span> <span class="btn <%= task.priority %> rounded-top">
                                                <%= task.priority %>
                                            </span>
                                            <% if (task.deadline) { %>
                                                <span class="btn deadline rounded-top">
                                                    <%= taskDeadlines[counter] %>
                                                </span>
                                                <% counter++; } %>
                                        </span>
                                </form>
                                <form action="/tasks/<%= task._id %>?_method=DELETE" method="post"
                                    class="remove align-self-star">
                                    <button class="del-btn">X</button>
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
    </div>
    <script src="/scripts/checkContainer.js"></script>